@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
font-family: "Avanti"; 
// адрес шрифта и тип 
src: url("../fonts/Avanti/avantiReg.ttf"); 
//font-style: normal; 
//font-weight: normal; 
} 

@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
font-family: "Exo2"; 
// адрес шрифта и тип 
src: url("../fonts/Exo2/Exo2-Light.ttf"); 
//font-style: normal; 
//font-weight: normal; 
} 