.add-com{
    margin-top: 44px;
    padding: 0 15px;
    
    
}
.add-com_header{
    color: #232323;
    font-size: 28px;
    position: relative;
    padding-left: 30px;
    font-family: 'PT Sans', sans-serif;
    
    &::after{
        content: " ";
        background: url(../img/s-main/brackets.png);
        width: 19px;
        height: 16px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
    }
}

.add-com_textarea{
    width: 100%;
    height: 100px;
    padding: 16px;
    box-sizing: border-box;
    resize: none;
    border-radius: 3px;
    border: 1px solid #ececec;
    box-shadow: inset 0px 0px 12px -5px rgba(0,0,0,0.36);
}
.add-com_btn{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
    overflow: hidden;
}

.add-com_btn__box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    
    @media(min-width: 960px){
        padding: 0 10px;
        
    }
    
}
.add-com_btn__ic{
    width: 38px;
    height: 37px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px 1px;
    outline: none;
    background-size: cover;
    background-position: center;
}

.who-is{
    margin-left: 10px;
    color: #ea1c1c;
    font-size: 14px;
}

.add-massege{
    color: #fff;
    background: $blue-color;
    text-transform: uppercase;
    padding: 18px 22px;
    border: none;
    border-radius: 4px;
}

.add-com_btn__ic__js{
    border: 3px solid #f4b50b;
    box-sizing: border-box;
    margin: 2px;
    overflow: hidden;
}