.sitebar{
    display: none;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    background-image:  -webkit-linear-gradient(left,rgba(0,0,0,.03) 0,transparent 50%);
    
    @media(min-width:700px){
        display: block;
        padding: 0 5px;
    }
}

.sitebar_container{
    margin-bottom: 30px;
    margin-top: 30px;
    
    h3{
        font-size: 16px;
        font-weight: lighter;
        padding: 13px;
        box-sizing: border-box;
        background-image: url(../img/site-bar/sitebar-header.png);
        background-size: 100%;
        background-position: left center;
        background-repeat: no-repeat;
        margin-bottom: 9px;
        position: relative;
        text-decoration: underline;
       
        
        &::after{
            content: " ";
            display: block;
            background: #54a1cb;;
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 3;
            margin-left: -7px;
        }
        
        &::before{
            content: " ";
            display: block;
            background: #54a1cb;;
            width: 1px;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 2;
            margin-bottom: -7px;
        }
        
        a{
            display: block;
            font-family: 'PT Sans', sans-serif;
            font-size: 18px;
            
            &::after{
                content: ">>";
                display: inline-block;
                margin-left: 14px;
            }
        }
    }
   
}

.sitebar_container__content{
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    grid-template-rows: 2f 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 7px;
    padding: 7px 0;
    box-sizing: border-box;
    position: relative;
    
    img{
        max-width: 100%;
        grid-row: 1/3;
    }
    
    p{
        font-size: 12px;
        font-weight: 600;
        font-family: 'PT Sans', sans-serif;
        a{
            color: $blue-color;
            text-decoration: underline;
            font-family: 'PT Sans', sans-serif;
        }
    }
    
    .icon{
        display: flex;
    }
    .ic{
        background: #e6e7e8;
        padding: 0px 5px;
        box-sizing: border-box;
        margin-right: 5px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        
        img{
            margin-right: 5px;
        }
        span{
            font-size: 12px;
            font-family: 'PT Sans', sans-serif;
        }
    }
}

.sitebar_container__content.popular{
    grid-template-columns: 1fr 2fr;
}

.sitebar_container__advertising{
    background: #b8bbbd;
    width: 100%;
    height: 240px;
   
}

.icon-absolute{
    position: absolute;
    bottom: 7px;
    background: rgba(0, 0, 0, 0.26);
    width: auto;
    
    .ic{
        background: none;
        color: #fff;
        margin-right: 0;
    }
}

.calculation-content{
    padding-left: 12px;
    padding-top: 7px;
}
.sitebar_container__calculation__content{
    display: flex;
    align-items: center;
    padding: 5px 0;
    box-sizing: border-box;
    
    img{
        margin-right: 10px;
    }
    
    p{
        font-size: 15px;
        text-decoration: underline;
        cursor: pointer;
    }
}